body {
    background-color: #cccccc;
}

.header_spot {
    background-color: #f9f941c7;
}


.main {
    font-family: 'PT Serif', serif;

}

.fasfa-anchor {
    src: fontawesome;
    
}

.collapse-navbar-collapse {
    padding: 2rem 6rem;

}

/* next time separate these classes to keep it cleaner */

.header_spot .main-menu .navbar .navbar-link {

    padding: 2px 20px;
}

.header_spot .main-menu .navbar {

    padding: 2px 20px;
}

.header_spot .main-menu .navbar .nav-link {

    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2.5rem;
    color: navy;


}

.profile-picture {
    height: 300px;
    
}

.btn {
    font-family: 'PT Serif', serif;
    src: fontawesome;

}



.contact span{
    font-family: 'PT Serif', serif;
    src: fontawesome;
    padding: 2px 20px;

}

.place-holder {
    height: 300px;
}

.card-body {
    text-align: center;
    align-self: auto;
}