body {
    background-color: #cccccc;
}


.main {
    font-family: 'PT Serif', serif;

}

.fasfa-anchor {
    src: fontawesome;
    
}


.header_spot .main-menu .navbar .navbar-link {

    padding: 20rem 6rem;
}

.header_spot .main-menu .navbar {

    padding: 2rem 20rem;
}

.header_spot .main-menu .navbar .nav-link {

    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2.5rem;
    color: navy;
}


